body { 
    background-color: rgb(134, 123, 102);
}

#titulo{
    font-size: 30px;
    text-align: center;
    color:rgb(124, 4, 30)
}

.texto {
    text-align: center;
    color:rgb(70, 6, 66);
    font-size: 20px;
}

